.lgc-bg {
    background-color: rgb(242 242 242);
}

.lgc-bg-inverse {
    background-color: rgb(22 50 92);
}

.lgc-bg-white {
    background-color: rgb(255, 255, 255);
}

.text-Green {
    color:green !important;
    font-weight: 600;
}
.text-Orange {
    color:orange !important;
    font-weight: 600;
}
.text-Yellow {
    color:rgb(238, 238, 0) !important;
    font-weight: 600;
}
.text-Red {
    color:red !important;
    font-weight: 600;
}