.background-Red {
    border-top: 8px solid red;
}

.background-Orange {
    border-top: 8px solid orange;
}

.background-Green {
    border-top: 8px solid green;
}

.background-Yellow {
    border-top: 8px solid #baba00;
}