.background-Red {
    border-top: 8px solid #ea001e;
}

.background-Orange {
    border-top: 8px solid #fe9339;
}

.background-Green {
    border-top: 8px solid #3ba755;
}

.background-Yellow {
    border-top: 8px solid #ffce2d;
}